body {
    margin: 0;
    background-color: rgb(221, 221, 221);
    font-family: 'Asul', sans-serif;
    font-weight: normal;
}

header{
    padding-top: 20px;
    background-image: url(../Img/banner.png);
}

#my-photo { 
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    background-color: rgb(114, 98, 98);
    text-align: center;
    color: rgb(233, 233, 233);
    font-family: 'Asul', sans-serif;
    font-weight: bold;
    margin-bottom: 0%;
}

h6{
    text-align: center;
    font-size: 15px;
    margin-top: 0%;
    color:rgb(114, 98, 98);
    font-weight: 900;
}

/*Elimina el subrayado del link*/
header a:link, a:active, a:hover{
    text-decoration: none;
}

h3{
    text-decoration: underline;
    text-transform: uppercase;
    background-color: rgb(201, 187, 187);
    font-family: 'Asul', sans-serif;
    font-weight: bold;
    padding: 6px;
}

ul{
    list-style: none;
    font-style: oblique;
}

.style-li {
    font-weight: 900;
    font-style: normal;
}

dl{
    font-weight: 900;
    margin-left: 8px;
}

dt{
    font-style: oblique;
    margin-left: 8px;
}

footer{
    background-color: rgb(114, 98, 98);
    text-align: center;
    height: 40px;
    margin-top: 20px;
    }

footer div{
    display: inline; 
    margin-right: 6px;
}

footer *{
    margin-top: 7px;
}

h3>span{
    margin-left: 8px;
}
